.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}