.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    padding: 3rem;
    border: 1px solid black;
    background: #f4f4f4;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.item:first-child {
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */

    /*Same as above, but shorter*/
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.item:nth-child(9) {
    grid-column: 2 / span 3;
    grid-row: 4 / span 2;
}