@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 5rem;
}

main {
    max-width: 40rem;
}

h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    letter-spacing: 3px;
}

h3 {
    font-size: var(--h3-font-size);
    font-style: italic;
}

p {
    font-size: var(--p-font-size);
}