body {
    margin: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: var(--heading-ff);
}

p {
    margin: 1rem 0;
    padding: 0;
    font-family: var(--main-content-ff);
}

article {
    max-width: 45rem;
}

header {
    text-align: center;
}